In [2]:
# 全部行都能輸出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, r2_score, mean_squared_error

In [3]:
train = pd.read_csv("./Data/output/train_ETL.csv") 
test = pd.read_csv("./Data/output/test_ETL.csv") 
train.head()
test.head()

,Id,LotFrontage,LotArea,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,Foundation,BsmtQual,...,Fireplaces,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,PavedDrive,WoodDeckSF,OpenPorchSF,SalePrice
0,1,4.189655,9.042040,49,1,4012009,1,2,2,2,...,0.0,1,2003.0,1,2.0,0.693147,2,0,1,12.247699
1,2,4.394449,9.169623,36,0,3904576,0,3,1,2,...,1.0,1,1976.0,1,2.0,0.693147,2,1,0,12.109016
2,3,4.234107,9.328212,49,1,4008004,1,2,2,2,...,1.0,1,2001.0,1,2.0,0.693147,2,0,1,12.317171
3,4,4.110874,9.164401,49,0,3880900,0,3,0,3,...,1.0,5,1998.0,2,3.0,0.693147,2,0,1,11.849405
4,5,4.442651,9.565284,64,0,4000000,1,2,2,2,...,1.0,1,2000.0,1,3.0,0.693147,2,1,1,12.429220

,Id,LotFrontage,LotArea,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,Foundation,BsmtQual,...,TotRmsAbvGrd,Fireplaces,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,PavedDrive,WoodDeckSF,OpenPorchSF
0,1461,4.394449,9.360741,25,0,3845521,0,3,1,3,...,5,0.0,1,1961.0,2,1.0,0.693147,2,1,0
1,1462,4.406719,9.565775,36,0,3833764,1,3,1,3,...,6,0.0,1,1958.0,2,1.0,0.693147,2,1,1
2,1463,4.317488,9.534668,25,0,3992004,0,3,2,2,...,6,1.0,1,1997.0,0,2.0,0.693147,2,1,1
3,1464,4.369448,9.208238,36,0,3992004,1,3,2,3,...,7,1.0,1,1998.0,0,2.0,0.693147,2,1,1
4,1465,3.784190,8.518392,64,0,3968064,0,2,2,2,...,5,0.0,1,1992.0,1,2.0,0.693147,2,0,1

In [4]:
train_set = train.drop(columns="Id", axis=1)
test_set = test.drop(columns="Id", axis=1)
train_set.head()
test_set.head()

,LotFrontage,LotArea,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,Foundation,BsmtQual,BsmtFinSF1,...,Fireplaces,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,PavedDrive,WoodDeckSF,OpenPorchSF,SalePrice
0,4.189655,9.042040,49,1,4012009,1,2,2,2,706.0,...,0.0,1,2003.0,1,2.0,0.693147,2,0,1,12.247699
1,4.394449,9.169623,36,0,3904576,0,3,1,2,978.0,...,1.0,1,1976.0,1,2.0,0.693147,2,1,0,12.109016
2,4.234107,9.328212,49,1,4008004,1,2,2,2,486.0,...,1.0,1,2001.0,1,2.0,0.693147,2,0,1,12.317171
3,4.110874,9.164401,49,0,3880900,0,3,0,3,216.0,...,1.0,5,1998.0,2,3.0,0.693147,2,0,1,11.849405
4,4.442651,9.565284,64,0,4000000,1,2,2,2,655.0,...,1.0,1,2000.0,1,3.0,0.693147,2,1,1,12.429220

,LotFrontage,LotArea,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,Foundation,BsmtQual,BsmtFinSF1,...,TotRmsAbvGrd,Fireplaces,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,PavedDrive,WoodDeckSF,OpenPorchSF
0,4.394449,9.360741,25,0,3845521,0,3,1,3,468.0,...,5,0.0,1,1961.0,2,1.0,0.693147,2,1,0
1,4.406719,9.565775,36,0,3833764,1,3,1,3,923.0,...,6,0.0,1,1958.0,2,1.0,0.693147,2,1,1
2,4.317488,9.534668,25,0,3992004,0,3,2,2,791.0,...,6,1.0,1,1997.0,0,2.0,0.693147,2,1,1
3,4.369448,9.208238,36,0,3992004,1,3,2,3,602.0,...,7,1.0,1,1998.0,0,2.0,0.693147,2,1,1
4,3.784190,8.518392,64,0,3968064,0,2,2,2,263.0,...,5,0.0,1,1992.0,1,2.0,0.693147,2,0,1

In [8]:
y = train_set["SalePrice"]
X = train_set.drop(["SalePrice"],axis=1)

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3)

model = RandomForestRegressor(n_estimators=500, min_samples_split=15, min_samples_leaf=5, 
                           max_features='sqrt', max_depth=20, bootstrap=False)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)


# The mean squared error
print("Mean squared error: {}".format(mean_squared_error(y_test, y_pred)))
# Explained variance score: 1 is perfect prediction
print('R2 score: {}'.format(r2_score(y_test, y_pred)))

RandomForestRegressor(bootstrap=False, max_depth=20, max_features='sqrt',
                      min_samples_leaf=5, min_samples_split=15,
                      n_estimators=500)

Mean squared error: 0.022920921796485777
R2 score: 0.8616313229361441

In [9]:

price_pred =  model.predict(test_set)
 
g = np.expm1(price_pred)

sol_df = pd.DataFrame()

sol_df["Id"] = test["Id"]
sol_df["SalePrice"] = np.floor(g).astype(int)
sol_df

        Id  SalePrice
0     1461     125979
1     1462     149081
2     1463     177851
3     1464     185610
4     1465     194079
...    ...        ...
1454  2915      84914
1455  2916      89497
1456  2917     152920
1457  2918     108121
1458  2919     227530

[1459 rows x 2 columns]

In [253]:
sol_df.to_csv("./Data/output/sample_submission.csv", index=False)